### Trabalhando com Tuplas

In [9]:
# Criando uma tupla
tupla1 = ('Geografia', '23', 'Elefantes', 9.8, 'Python')

tupla1

('Geografia', '23', 'Elefantes', 9.8, 'Python')

In [10]:
tupla1.append('Chocolate') # - Tupla não permite a adição de itens

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
del tupla1['Elefante'] # - Tupla não permite a remoção de itens

TypeError: 'tuple' object does not support item deletion

In [12]:
tupla1 = ('Chocolate') # - Tuplas podem ter um único item

tupla1

'Chocolate'

In [13]:
tupla1 = ('Geografia', '23', 'Elefantes', 9.8, 'Python')

tupla1[0] # - Os chamados são indexados como em arrays

'Geografia'

In [15]:
len(tupla1) # - Length, splicing e o índice funcionam como arrays

5

In [17]:
tupla1[2:]

('Elefantes', 9.8, 'Python')

In [19]:
tupla1.index('Python')

4

In [20]:
tupla1[1] = 21 # - Tuplas são imutáveis. Não podem ter valores adicionados, removidos ou mudados.

TypeError: 'tuple' object does not support item assignment

In [22]:
t2 = ('A', 'B', 'C')

t2

('A', 'B', 'C')

In [23]:
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [28]:
t2_list = list(t2) # - Cria uma lista que retém os valores de uma tupla

type(t2_list)

list

In [29]:
t2_list

['A', 'B', 'C']

In [30]:
t2_list.append('D') # - Adiciona à LISTA o valor 'D'

t2_list

['A', 'B', 'C', 'D']

In [31]:
t2 = tuple(t2_list) # - Converte um array em tupla e salva em uma variável.

t2

('A', 'B', 'C', 'D')